<div class="list-container">
  <ul class="page-list">
    {% assign pages = site.pages | where_exp:"page","page.title != nil" %}
    {% for page in pages %}
      {% unless page.url contains "/posts/" or page.url == "/" %}
        <li class="page-list-item">
          <a href="{{ page.url | relative_url }}" class="page-title">{{ page.title }}</a>
          {% if page.description %}
          <span class="page-description">— {{ page.description }}</span>
          {% endif %}
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>
